.luffyCard {

}
.card {
  border: none;
  border-radius: 12px;
  background-color: transparent;
}
.cardTitle {
  font-size: 2rem;
}
.cardImage {
  border-radius: 12px;
  max-height: 330px;
  filter: brightness(0.6)
}

.text-neonPink {
  color: #fc207a;
}

.ml-auto {
  margin-left: auto;
}