.luffyCard {

}
.card {
  border: none;
}
.cardTitle {
  font-size: 2rem;
}
.cardImage {
  border-radius: 12px;
  max-height: 330px;
  filter: brightness(0.6)
}
.overlay-dark {
  background-color: rgba(black, 0.4);
}