.contact-bg {
  background-color: #c7d0d8;
}
.context-h1 {
  font-weight: 700;
}
.rounded-container {
  border-radius: 13px;
}
.form-control {
  border-radius: 0.5rem;
}
.form-label {
  font-weight: 700;
}
.form-mobile {
  margin-top: 2rem;
  padding: 0.5rem !important;
}
.font-bold {
  font-weight: bold;
}
.contact-container {
  margin-top: 5vh;
}
.text-bg {
  color: #000912;
}
.contact-button {
  color: white;
  background-color: #497ea9;
  border-color: #000912;
  width: 100%;
  padding: 0.6em;
  text-transform: uppercase;
  font-weight: 600;
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .contact-container {
    margin-top: 8vh;
  }
}