.contact-bg {
  background-color: #c7d0d8;
}
.context-h1 {
  font-weight: 700;
}
.rounded-container {
  border-radius: 13px;
}
.form-control {
  border-radius: 0.5rem;
}
.form-label {
  font-weight: 700;
}
.font-bold {
  font-weight: bold;
}
.contact-container {
  margin-top: 5vh;
}
.text-bg {
  color: #000912;
}
.contact-button {
  color: white;
  background-color: #497ea9;
  border-color: #000912;
  width: 100%;
  padding: 0.6em;
  text-transform: uppercase;
  font-weight: 600;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .font-1 {
    font-size: 1.2rem;
  }
  .font-2 {
    font-size: 2.5rem;
  }
  .font-3 {
    font-size: 2rem;
  }
  
  .hire-button {
    width: 7rem;
    padding: 0.5rem;
    margin: 2rem 0 8rem 0.8rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .contact-container {
    margin-top: 8vh;
  }
}

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
 
 } */