.nav-padding {
  padding: 0.7\em 1em;
}
.my-name{
  font-size: 1.1rem;
}
.shadows-font {
  font-family: 'Shadows Into Light', cursive;
}
.crescentMoon {
  color: #fef302;
  margin-bottom: 0.2rem;
}
.footer-border {
  border-top: 1px solid #18212b;
}
.copyright {
  margin-top:0.17rem;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}